html {
  height: 100%;
  background: linear-gradient(to bottom, rgba(245,245,245,1) 0%,rgba(233,233,233,1) 30%,rgba(228,228,228,1) 59%,rgba(245,245,245,1) 100%);
}

h1 {
  color: silver;
}

.silverNavigation ul {
  background: white;
  margin: 0;
  padding-left: 0;
}

.silverNavigation > ul {
  border: solid 0.0625rem silver;
  border-radius: 0.125rem;
}

.silverNavigation li {
  list-style-type: none;
}

/*.silverNavigation li:hover {
  background-color: #cc6699;  
}*/

.silverNavigation a {
  text-decoration: none;
  padding: 0.5rem 0.25rem;
  display: block;
  color: #6c6c6c;
}

.silverNavigation button {
  cursor: pointer;
}

.silverNavigation li.active > a {
  color: #ffcc00;
}

.silverNavigation > ul > li:first-child {
  border-top: none;
}


.silverNavigation li.active > a.cur {
  border-bottom: solid 0.125rem;
  border-bottom-left-radius: 0.75rem;        
}

.silverNavigation ul ul a {
  margin-left: 0.25rem;
  color: #7d9e99;
}

.silverNavigation ul ul ul a {
  margin-left: 0.5rem;
  color: #7d809e;
}

.silverNavigation ul ul ul ul a {
  margin-left: 0.75rem;
}

.silverNavigation ul li > button > svg {
   fill: #7d9e99; 
}

.silverNavigation ul ul li > button > svg {
   fill: #7d809e; 
}

.silverNavigation ul li button {
  border: none;
  background: none;
  height: 2.25rem;
  width: 2.25rem;
}

@media (max-width: 23.125rem) {
  h1 {
    font-size: 1.25rem;
    margin: 1.8125rem 0;
  } 
}

@media (max-width: 48rem) {
  #sideNav > button {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    height: 4rem;
    width: 5rem;
    border-radius: 0.75rem;
    color: #cc6699;
    font-size: 1.25rem;
    border-color: #cc6699;
    border-width: 0.25rem;
  }
  
  .silverNavigation a {
    margin-right: 2.25rem;
  }
  
  .silverNavigation a:only-child {
    margin-right: 0;
  }
  
  .silverNavigation > ul button svg {
    transition: 0.5s;
  }
  
  .silverNavigation > ul button.open svg {
    transform: rotate(90deg); 
  }
  
  #headNav {
    position: fixed;
    bottom: 0;
    left: 0.5rem;
    right: 0.5rem;
  }
  
  #headNav > button {
    width: 100%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    height: 2rem;
    color: #cc6699;
    border-color: #cc6699;
  }
  
  body {
    margin-bottom: 2.5rem;
  }
}

@media (min-width: 48.0625rem) {
  h1 {
    text-align: center;
  }
  
  .silverNavigation li:hover > a {
    color: #cc6699;
  }
    
  .silverNavigation.horizontal ul {
    text-align: center;     
  } 
  .silverNavigation.horizontal > ul li {
    border-top: none;     
  }
  
  .silverNavigation.horizontal li.active > a {
    border-bottom: none;
    border-left: solid 0.125rem;
    border-right: solid 0.125rem;
    border-radius: 0.25rem;
  }
  
  .silverNavigation.horizontal > ul > li.subpages.active,
  .silverNavigation.horizontal > ul > li.subpages:hover {
    margin-bottom: 2.25rem;
  }
    
  .silverNavigation.horizontal > ul > li:hover ul,
  .silverNavigation.horizontal > ul > li.active ul {
    border-top: solid 0.0625rem silver;     
  }
  
  .silverNavigation.horizontal > ul > li {
    transition: margin 0.5s;
  }
  
  #sideNav {
    display: inline-block;
    width: 10rem;
    float: left;
  }
  
  #content {
    display: inline-block;
    width: calc(100% - 11rem);
    padding: 0 0.5rem;
  }
  
  #headNav {
  }
}

