html {
  height: 100%;
  background: linear-gradient(to bottom, rgba(30,87,153,1) 0%,rgba(41,137,216,1) 27%,rgba(32,124,202,1) 65%,rgba(125,185,232,1) 95%);
}

.silverNavigation {
  display: inline-block;
}

.silverNavigation ul {
  margin: 0;
  padding-left: 0;
}

.silverNavigation li {
  list-style-type: none;
  border-top: solid 0.0625rem silver;
}

.silverNavigation a {
  text-decoration: none;
  padding: 0.5rem 0.25rem;
  display: block;
  color: #edc5d9;
}

.silverNavigation a:hover {
  font-style: italic;
}

.silverNavigation li.active > a {
  color: gold;
}

.silverNavigation > ul > li:first-child {
  border-top: none;
}

.silverNavigation ul ul a {
  margin-left: 0.25rem;
}

.silverNavigation ul ul ul a {
  margin-left: 0.5rem;
}

.silverNavigation ul ul ul ul a {
  margin-left: 0.75rem;
}

.silverNavigation ul li button {
  border-radius: 1rem;
}

@media (min-width: 769px) {
  .silverNavigation.horizontal ul {
    text-align: center;     
  } 
  .silverNavigation.horizontal > ul li {
    border-top: none;     
  }
    
  .silverNavigation.horizontal > ul > li:hover ul,
  .silverNavigation.horizontal > ul > li.active ul {
    border-top: solid 0.0625rem silver;     
  }
  
  .silverNavigation.horizontal > ul > li {
    transition: margin 0.5s;
  }
}

