.silverNavigation {
  padding: 0;
  display: inline-block;
}

.silverNavigation ul {
  overflow-y: hidden;
  margin: 0;
  padding-left: 0.25rem;
}

.silverNavigation li {
  list-style-type: none;
}

.silverNavigation a {
  text-decoration: none;
}

/*.silverNavigation button {
  display: none;
  cursor: pointer;
  border: none;
}

.silverNavigation.mobile button {
  display: inline-block;  
}*/