@media (min-width: 769px) {
  .silverNavigation.horizontal {
    min-width: 40rem;
  } 
    
  .silverNavigation.horizontal ul {
    position: relative;
  }
  
  .silverNavigation.horizontal li {
    display: inline-block;
  }
  
  .silverNavigation.horizontal > ul ul {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
  }

  .silverNavigation.horizontal > ul > li.subpages.active,
  .silverNavigation.horizontal > ul > li.subpages:hover {
    margin-bottom: 2rem;
  }
  
  .silverNavigation.horizontal > ul > li:hover ul {
    display: block;
    height: auto !important;
  }
  
  .silverNavigation.horizontal > ul > li ul:hover {
    display: block;     
  }
}